.mainbody {
	position: fixed;
	left: 255px;
	top: 60px;
	right: 55px;
	height: 330px;
	background-color: white;
}
.mainbody1,
.mainbody2,
.mainbody3,
.mainbody4 {
	position: fixed;
	left: 255px;
	top: 60px;
	right: 55px;
	height: 330px;
	background-color: white;
}

.mainbody1 {
	z-index: 860;
}

.mainbody2 {
	z-index: 840;
	display: none;
}

.mainbody3 {
	z-index: 820;	
	display: none;
}

.mainbody4 {
	z-index: 800;
	display: none;
}

.mainbody_column,
.mainbody_column2 {
	left: 255px;
	height: 45px;
	margin-right: 20px;
	border-bottom-color: rgb(240,243,244);
	border-bottom-style: solid;
	border-width: thin;
}

.column-option,
.column-option2 {
	display: inline-block;
	margin-top: 0;
	margin-left: 0;
	width: 20px;
	height: 30px;
	padding: 10px;
}

.column-option_left,
.column-option_left2 {
	margin-left: 5px;
}

.mainbody_input,
.mainbody_input2 {
	float: right;
	margin-right: 20px;
	margin-top: 8px;
	height: 31px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

.column_open,
.column_open2 {
	float: left;
	margin-left: 18px;
	margin-top: 15px;
	width: 16px;
}

.column_tip,
.column_tip2 {
	 position: absolute;
	 margin-top: 12px;
	 margin-left: 13px;
}

.column_tip_2 {
	font-size: 14px;
}

.column_tip4 {
	font-size: 14px;
	margin-left: 400px;
}

.send2 {
	color: blue;
	
}

.mainbody_save {	
	position: fixed;
	top: 500px;	
	margin-left: 18px;
	width: 220px;
	height: 15px;
}
.mainbody_save-icon {
	height: 6px;
	background-color: rgb(240,243,244); 
	border-radius: 3px;
}

.mainbody_save-tip {
	margin-top: 8px;
}

a {
	text-decoration: none;
	color: dimgrey;
	font-size: 13px;
}

a:hover {
	text-decoration: underline;
}

.mainbody_tip,
.mainbody_time {
	position: fixed;
	top: 492px;
}

.mainbody_tip {
	padding-left: 380px;
}

.mainbody_time {
	right: 90px;
	font-size: 13px;
	color: dimgrey;
	text-align: right;
}

.write-box {
	z-index: 995;
	position: fixed;
	left: 790px;
	bottom: 0;
	height: 450px;
	width: 500px;
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-style: solid;
	border-width: thin;
	border-color: rgb(240,243,244);
	box-shadow: 0px 5px 20px gainsboro;
}

.write-box_top,
.max-area_top {
	background-color: #696969;
	height: 40px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.write-box_topright {
	cursor: pointer;
}

.new,
.max_new,
.mini_new {
	position: relative;
	color: #FFFFFF;
	left: 15px;
	top: 5px;
}

.mini,
.max,
.close {
	color: #DCDCDC;
	font-size: 20px;
	position: relative;
	display: inline-block;
	margin-left: 5px;
	left: 379px;
	top: 6px;
}



.mini {
	top:-1px;
}

input,
textarea {
	border-style: none;
}

.write-box_column,
.max-area_column {
	margin-left: 15px;
	height: 40px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: rgb(240,243,244);
}

.write-box_column {
	width:470px;
}

.max-area_column {
	margin-right: 15px;
}

.write-box_receiver,
.write-box_copy,
.write-box_topic {
	position: relative;
	top: 10px;
}

.write-box_re {
	width: 330px;
}

.write-box_copy {
	left: 20px;
}

.write-box_topic {
	width: 470px;

}

.write-box_body {
	margin-top: 10px;
	margin-left: 15px;
	height: 200px;
	width: 470px;
}

.mini-area {
	position: fixed;
	bottom: 0;
	right: 71px;
	height: 40px;
	width: 260px;	
	background-color: #696969;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0px 15px 20px gainsboro;
	display: none;
}

.write-box_bottom {
	position: relative;
	bottom: 0;
	width: 500px;
	height: 70px;
}

.send {
	position: absolute;
	top: 61px;
	left: 15px;
	height: 40px;
	width: 100px;
	background-color: royalblue;
	border-color: royalblue;
	border-radius: 5px;
	color: white;
}

.change-font {
	position: absolute;
	left: 125px;
	top: 68px;
	cursor: pointer;
}

.change-font_area {
	position: absolute;
	z-index: 500;
	left: 15px;
	top: 345px;
	width: 470px;
	height: 35px;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: rgb(240,243,244);
	background-color: white;
	box-shadow: 0px 3px 10px gainsboro;
}

.font-size-change {
	position: relative;
	left: 160px;
	top: 5px;
	cursor: pointer;
}

.font-color-change {
	position: relative;
	left: 280px;
	top: 5px;
	cursor: pointer;
}

.font-size-choice {
	position: absolute;
	left: 170px;
	bottom: 100px;
	z-index: 999;
	width: 150px;
	height: 130px;
	background-color: white;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: rgb(240,243,244);
	box-shadow: 0px 3px 10px gainsboro;
}

.font-size-choice1,
.font-size-choice2,
.font-size-choice3,
.font-size-choice4 {
	position: relative;
	top: 5px;
	width: 100px;
	height: 30px;
	padding-left: 50px;
	cursor: pointer;
}

.font-size-choice1 {
	font-size: 12px;
}

.font-size-choice2 {
	font-size: 15px;
}

.font-size-choice3 {
	font-size: 20px;
}

.font-size-choice4 {
	font-size: 30px;
}

.mask {
	position: fixed;
	z-index: 997;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
}


.max-area {
	position: fixed;
	z-index: 998;
	left: 155px;
	right: 155px;
	top: 38px;
	bottom: 38px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: white;
}

.max_mini,
.max_max,
.max_close {
	color: #DCDCDC;
	font-size: 20px;
	position: relative;
	display: inline-block;
	margin-left: 5px;
	left: 935px;
	top: 8px;
	cursor: pointer;
}

.max_mini {
	top: -1px;
}

.mini_mini,
.mini_max,
.mini_close {
	color: #DCDCDC;
	font-size: 20px;
	position: relative;
	display: inline-block;
	margin-left: 5px;
	left: 138px;
	top: 7px;
	cursor: pointer;
}

.mini_mini {
	top: -1px;
}

.unread {
	display: none;
}

.unread:hover{
	border-style: solid;
	border-width: thin;
	border-color: rgb(240,243,244);
	box-shadow: 0px 5px 5px gainsboro;
}

.other {
	display: none;
}

.other:hover {
	border-style: solid;
	border-width: thin;
	border-color: rgb(240,243,244);
	box-shadow: 0px 5px 5px gainsboro;
}

.open-icon:hover{
	cursor: pointer;
}

.star:hover{
	cursor: pointer;
}

.star-letter{
	display: none;
}