
.menu{
	position: fixed;
	top: 60px;
	left: 0px;
	width: 255px;
	
}
#writebutton{
	margin-top: 15px;
	margin-left: 10px;
	background-color: white;
	border-color: rgb(240,243,244);
	border-width: thin;
	border-radius: 25px;
	height: 50px;
	width: 120px;
	box-shadow: 0px 1px 5px #888888;
	cursor: pointer;
	
}
#btna{
	float: left;
	margin-left: 5px;
}

#btnb{
	float: right;
	margin-right: 20px;
	margin-top: 5px;
}
	
#menubox{
	list-style: none;
	margin-top: 15px;
	border: none;
	width: 255px;
	height: 180px;
}

.icon{
	float: left;
	margin-left: -12px;
}
.word{
	margin-left: 15px;
}
.opt{
	margin-top: 15px;
	font-size: 14px;
}


#meeting1{
	height: 105px;
	border-top-style: solid;
	border-top-color: rgb(240,243,244);
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: rgb(240,243,244);
}
.opt2{
	margin-top: 15px;
	font-size: 14px;
}

#meetingoption{
	margin-top: 20px;
	list-style: none;
}

#user{
	float: left;
	margin-top: 40px;
	margin-left: 35px;
}

#tip{
	position: absolute;
	border-top-style: solid;
	border-width: thin;
	border-top-color: rgb(240,243,244);
	margin-top: 80px;
	width: 84%;
	margin-left: 8%;
	margin-right: 8% ;
}

#bottom{
	position: fixed;
	bottom: 0px;
	border-top-style: solid;
	border-width: thin;
	border-top-color: rgb(240,243,244);
	height: 35px;
	width: 255px;
}


.btmoption{
	display: inline-block;
	margin: 0;
	height: 35px;
	left: 25%;
	padding-top: 7px;
	width: 35px;
}
