.menu,
.hidden-area {
	position: fixed;
	top: 60px;	
	bottom: 0;
	left: 0;
	z-index: 15;
	background-color: white;
}

.menu {
	width: 255px;
}

.menu_writebutton,
.hidden_writebutton {
	margin-top: 15px;
	margin-left: 13px;	
	height: 50px;
	background-color: white;
	border-color: rgb(240,243,244);
	border-width: thin;
	border-radius: 25px;
}

.menu_writebutton {
	width: 120px;
}

.hidden_writebutton{
	width: 50px;
}

.menu_writebutton:hover{
	box-shadow: 0px 5px 5px gainsboro;
	background-color: rgb(240,243,244);
	cursor: pointer;
}

.hidden_writebutton:hover {
	box-shadow: 0px 5px 5px gainsboro;
	background-color: rgb(240,243,244);
	cursor: pointer;
}

.writebutton_img {
	float: left;
	margin-left: 3px;
}

.writebutton_word {
	float: right;
	margin-right: 20px;
	margin-top: 5px;
}

.menu_box {
	list-style: none;
	margin-top: 15px;
	width: 255px;
	height: 180px;
	border: none;
}

.menu_opt,
.meeting_opt {
	margin-top: 13px;
}

.menu_opt:hover {
	cursor: pointer;
}

.opt-icon {
	float: left;
	margin-left: -12px;
	width: 20px;
}

.opt-word {
	margin-left: 15px;
	font-size: 14px;
}

.opt-word,
.meeting_head,
.meeting_opt,
.hangouts_head,
.tip {
	font-size: 14px;
}

.meeting {
	height: 105px;
	border-top-style: solid;
	border-top-color: rgb(240,243,244);
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: rgb(240,243,244);
}

.meeting_head,
.hangouts_head {
	position: absolute;
	margin-left: 25px;
	margin-top: 10px;
}

.meeting_body {
	list-style: none;
	margin-top: 20px;
}

.hangouts {
	height: 75px;
}

.hangouts_user {
	position: absolute;
	top: 422px;
	left: 23px;
	width: 30px;
}

.hangouts_username {
	position: absolute;
	top: 425px;
	left: 58px;
}

.hangouts_tip {
	position: absolute;	
	margin-top: 80px;
	margin-left: 20px;
	margin-right: 20px;
	width: 84%;
	border-top-style: solid;
	border-width: thin;
	border-top-color: rgb(240,243,244);
}

.tip {
	position: absolute;
	margin-top: 10%;
	margin-left: 25%;
}

.bottom {
	position: fixed;
	bottom: 0;
	height: 35px;
	width: 255px;
	border-top-style: solid;
	border-width: thin;
	border-top-color: rgb(240,243,244);
}

.bottom_opt {
	display: inline-block;
	margin: 0;
	height: 35px;
	width: 35px;
	padding-top: 7px;
	padding-left: 6px;
}

.hidden-area {
	width: 75px;
}
