.top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	border-bottom-style: solid;
	border-bottom-color: rgb(240,243,244);
	border-bottom-width: thin;
}

.top_menu,
.top_logo,
.top_search,
.top_navigation {
	position: fixed;
}

.top_menu {
	left: 17px;
	top: 10px;
	width: 22px;
	height: 22px;
	padding: 10px;
	border-radius: 50%;
}

.top_menu:hover {
	background-color: gainsboro;
	cursor: pointer;
}

.top_logo {
	left: 65px;
	top: 15px;
	width: 110px;
}

.top_logo:hover {
	cursor: pointer;
}

.top_gm {
	float: right;
	margin-top: 2px;
	font-size: 20px;
}

.top_search {
	left: 255px;
	top: 8px;
	height: 42px;
	width: 50%;	
	background-color: rgb(240,243,244);
	border-style: none;
	border-radius: 8px;
}

.search_left {
	float: left;
	margin-left: 10px;
	margin-top: 4px;
	width: 20px;
	height: 20px;
	padding: 7px;
	border-radius: 50%;
}

.search_left:hover {
	background-color: gainsboro;
	cursor: pointer;
}

.search_body {
	position: absolute;
	margin-left: 8px;
	margin-top: 6px;
	height: 29px;
	width: 80%;
	border-style: none;
	background: none;
	font-size: 16px;
}

.top_navigation {
	right: 35px;
	top: 20px;
}

.navigation-icon {
	list-style: none;
	display: inline;
	margin-left: 25px;
}
